@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    background-image: url(GTA-RP-images/group-8.png);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    min-height: 100vh;
    max-width: 100%;
}
.banner {
    display: flex;
    max-width: 100vw;
    padding-left: 7vw;
    margin-top: 2vh;
}
.banner_logo1 {
    display: flex;
    padding-left: 1vw;
    align-items: center;
    flex-direction: row;
}
.banner_logo1__img {
    display: flex;
    padding-left: 1vw;
}
.banner_logo1__line-6{
    display: flex;
    padding-left: 1vw;
}
.banner_logo1__gta{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 1vw;
    min-width: 140px;
    display: flex;
    text-decoration: none;
}
.banner_hat {
    display: flex;
    align-items: center;
    padding-left: 10vw;
    justify-content: space-between;

}
.banner_hat__monitoring {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 1vw;
    display: flex;
    text-decoration: none;
}
.banner_hat__news {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-left: 1vw;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
}
.banner_hat__forum {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-left: 1vw;
    display: flex;
    color: #FFFFFF;
    text-decoration: none;
}
.banner_hat__donate{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    line-height: 24px;
    margin-left: 1vw;
    color: #FFFFFF;
    border-style: double;
    border-color: #BA00FB;
    text-decoration: none;
}
.banner_hat__account {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 1vw;
}
.outlines {
    display: flex;
    max-width: 100vw;
    padding-left: 10vw;
}
.outlines__vk {
    display: flex;
    height: 3vh;
}
.outlines__youtube-logo {
    display: flex;
    padding-left: 1.5vw;
    height: 3vh;
}
.outlines__telegram-logo {
    display: flex;
    padding-left: 1.5vw;
    height: 3vh;
}
.start-playing {
    display: flex;
    margin-top: 50vh;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
}
.start-playing__start {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
}
.start-playing__button {
    display: flex;
    background: none;
    border: none;
}
.start-playing__playing {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;   
}
.about-project {
    display: flex;
    margin-top: 75vh;
    width: 100vw;
    max-width: 100vw;
}
.about-project__about-project {
    padding-left: 15vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
}
.about-project__line-7 {
    display: flex;
    max-width: 200px;
    padding-left: 2vw;
    height: 2px;
    align-self: center;
}
.rectangles {
    display: flex;
    margin-top: 3vw;
}
.rectangles__1 {
    display: flex;
    padding-left: 13vw;
    height: 40vh;
    width: 20vw;
}
.rectangles__2 {
    display: flex;
    padding-top: 5vh;
    height: 40vh;
    width: 20vw;
}
.rectangles__3 {
    display: flex;
    padding-top: 10vh;
    height: 40vh;
    width: 20vw;
}
.rectangles__1_1 {
    display: flex;
    position: relative;
    padding-top: 38vh;
    height: 5vh;
    left: -15vw;
    width: 5vw;
}
.rectangles__2_1 {
    display: flex;
    position: relative;
    padding-top: 43vh;
    height: 5vh;
    width: 5vw;
    left: -15vw;
}
.rectangles__3_1 {
    display: flex;
    position: relative;
    padding-top: 48vh;
    height: 5vh;
    left: -15vw;
    width: 5vw;
}
.today-online {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
    padding-left: 57vw;
    margin-top: 50vh;
    padding-right: 5vw;
}
.today-online__in-circle {
    display: grid;
    margin-top: 10vh;
    margin-left: 50vw;
    padding: 25vh;
    background-image: url(GTA-RP-images/circle-monitoring.png);
    background-repeat: no-repeat;
    background-position: center;

}
.today-online__in-circle__501 {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 120px;
    line-height: 146px;
    color: #FFFFFF;
    justify-self: center;
}
.today-online__in-circle__monitoring {
    display: flex;
    justify-self: center;
}
.footer {
    margin-top: 2vh;
    display: flex;
    max-width: 100vw;
    justify-content: space-evenly;
    flex-direction: row;
    padding-top: 1vh;
    align-items: center;
    background: #000000;
    flex-wrap: wrap;
}
.footer__logo {
    display: flex;
    min-width: 300px;
}
.footer_col__1, .footer_col__2, .footer_col__3, .footer_col__4 {
    flex-direction: column;
    min-width: 300px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.footer_col__1__1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

}
.footer_col__1__2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 1vh;

}
.footer_col__2__1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer_col__2__2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 1vh;
    text-decoration: none;
}
.footer_col__3__1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer_col__3__2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 1vh;
}
.footer_col__4__1 {
    display: flex;
    background-color: #1E1E1E;
    color:#575757;
    border: none;
    width: 14vw;
    padding: 1vw;
}
.footer_col__4__2 {
    padding-top: 1vh;
    display: flex;
    width: 14vw;
}
.monitoring {
    display: grid;
    justify-content: center;
}
.monitoring__name {
    display: grid;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    justify-self: center;
}
.monitoring__explainment {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    justify-self: center;
    padding-left: 20vw;
    padding-right: 20vw;
    text-align: center;
}
.servers {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.servers_col {
    display: grid;
    margin-top: 10vh;
}
.servers_col__A {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    justify-self: center;
}
.servers_col__501 {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 146px;
    color: #FFFFFF;
    padding: 15vh;
    background-image: url(GTA-RP-images/circle-501.png);
    background-repeat: no-repeat;
    background-position: center center;
    justify-self: center;
}
.servers_col__button {
    display: flex;
    justify-self: center;
}
.news {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}
.news_col {
    display: grid;
}
.news_col__window {
    display: flex;
    justify-self: center;
    background-image: url(GTA-RP-images/window-for-news.png);
    min-width: 60vw;
    min-height: 10vh;
    margin-top: 2vh;
    padding: 2vw;
}
.buy-cash {
    display: grid;
    background-color: #1e1e1e;
    margin-left: 50vw;
    margin-right: 5vw;
}
.buy-cash__buy-cash {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    justify-self: center;
    padding: 10px;
}
.buy-cash__form {
    display: flex;
    background-color: #080808;
    padding: 10px;
    margin: 1vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #575757;
    border: none;
    margin-left: 3vw;
    margin-right: 3vw;
}
.buy-cash__payment {
    display: flex;
    background-color: #CFCFCF;
    padding: 10px;
    margin: 1vh;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border: none;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 4vh;
}
.price-list{
    display: grid;
    background-color: #0c0c0c;
    margin-left: 50vw;
    margin-right: 5vw;
}
.price-list__price-list {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    justify-self: center;
    padding: 10px;
}
.price-list__prices {
    display: flex;
}
.price-list__VIP {
    display: grid;
}
.price-list__VIP2 {
    display: grid;
}
.price-list__VIP__col{
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 1vh;
    padding-left: 3vw;
    margin: 1vh;
}
.price-list__VIP__col2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #BA00FB;
    margin-left: 6vw;
    margin-top: 2vh;
    justify-self: center;   
}
.price-list__rate {
    display: flex;
    margin: 5vh;
    justify-self: center;
}
.price-list__rate__1000 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #0B8801;
}
.price-list__rate__60p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #ffffff;
}
.account {
    display: grid;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.4) 0%, rgba(217, 217, 217, 0) 100%);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    margin-left: 15vw;
    margin-top: 5vh;
    margin-right: 15vw;
    padding-left: 3vw;
    padding-right: 3vw;
}
.account_1 {
    display: flex;
    padding-top: 4vh;
    flex-wrap: wrap;
}
.account_avatar {
    display: flex;
    min-width: 200px;
}
.account_line {
    display: flex;
    align-self:center;
    padding-left: 3vw;

}
.account_login {
    display: grid;
    align-self: center;
    padding-left: 3vw;
    min-width: 200px;
}
.account_login_1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}
.account_5555{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;
}
.account_level {
    display: grid;
    align-self: center;
    padding-left: 3vw;
    min-width: 200px;
}
.account_level__8 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;
}
.account_level__server {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;

}
.account_2-united {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.account_lower {
    display: grid;
    align-self: center;
    padding-top: 5vh;
}
.account_2{
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.account_lower__1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    min-width: 200px;
}
.account_lower__2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    min-width: 200px;
}
.registration {
    display: grid;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.4) 0%, rgba(217, 217, 217, 0) 100%);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    width: 44vw;
    justify-self: center;
}
.registration_registration {
    padding-top: 5vh;
    justify-self: center;
}
.registration_forms {
    background: #080808;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #575757;
    width: 30vw;
    margin-top: 3vh;
    padding: 1vh;
    border: none;
    justify-self: center;

}
.checkboxes {
    justify-self: center;
}
label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}
.registration-start-button {
    background: none;
    border: none;
}
.partnership {
    background: linear-gradient(180.09deg, rgba(8, 8, 8, 0.7) 0.08%, rgba(0, 0, 0, 0) 128.53%);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    display: grid;
    margin-top: 10vh;
    margin-left: 15vw;
    margin-right: 15vw;
}
.partnership_blocks {
    display: flex;
    padding-top: 2vh;
    justify-content: space-between;
    padding-bottom: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
}
.partnership__partnership {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    justify-self: center;
    color: #FFFFFF;
    padding: 2vw;

}
.partnership_blocks__2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 15px;
    justify-self: center;
    color: #FFFFFF;
    border: 1px dashed #FFFFFF;
    border-radius: 10px;
    width: 25vw;
    padding: 1vh ;
}
.partnership_blocks__1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 20px;
    justify-self: center;
    color: #FFFFFF;
    width: 25vw;
}
.advantages {
    background: linear-gradient(179.9deg, rgba(8, 8, 8, 0.7) 0.09%, rgba(0, 0, 0, 0) 119.06%);
    backdrop-filter: blur(15px);
    display: grid;
    display: grid;
    margin-top: 10vh;
    margin-left: 15vw;
    margin-right: 15vw;
    border-radius: 10px;
    padding-left: 5vw;
    padding-right: 5vw;
}
.advantages__advantages {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 117px;
    justify-self: center;
    color: #FFFFFF;
    padding: 1vw;
    text-align: center;
}
.advantages_high {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.advantages_high__personal__exp {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 20px;
    justify-self: center;
    color: #FFFFFF;
    text-align: center;
}
.advantages_high__personal {
    display: grid;
    width: 300px;

}
.advantages_high__personal__image {
    justify-self: center ;
}
.fire {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 117px;
    justify-self: center;
    color: #FFFFFF;
}
.for-partnership {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;
    text-align: center;
}
.plugin__banner {
    display: flex;
    padding-left: 7vw;
}
.plugin__banner_hat {
    display: flex;
    padding-top: 2vh;
    align-items: center;
    padding-left: 30vw;
}
.plugin__banner_logo1 {
    display: flex;
    padding-top: 2vh;
    align-self: center;
    align-items: center;

}
.plugin__start-playing {
    display: flex;
    padding-top: 60vh;
    align-items: center;
    justify-content: center;
    
}
.plugin_block2 {
    margin-top: 10vh;
    padding-top: 10vh;
    display: grid;
    background-image: url("GTA-RP-images/background-for-plugin-block2.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    min-width: 100vw;
    max-width: 100vw;
}
.plugin__block2__now {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;  
    color: #FFFFFF;
    text-align: center;
}
.plugin__block2__monthly {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    text-align: center;
}
.plugin__block2__in-circle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 73px;
    color: #FFFFFF;
    background-image: url(GTA-RP-images/circle-501.png);
    background-repeat: no-repeat;
    background-position: center center;
    justify-self: center;
    padding: 15vh;

}
.plugin_block3 {
    display: grid;
    background-image: url("GTA-RP-images/background-for-plugin-block3.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    min-width: 100vw;
    max-width: 100vw;
}
.plugin__block3__now {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    margin-top: 20vh;
    margin-bottom: 60vh;
    padding: 15vh;
    text-decoration: underline #BA00FB;
}
.plugin_block4 {
    display: grid;
    background-image: url("GTA-RP-images/background-for-plugin-block4.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    min-width: 100vw;
    max-width: 100vw;
}
.plugin__block4__now {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    margin-top: 20vh;
    margin-bottom: 60vh;
    padding: 15vh;
}
.plugin_block5 {
    display: flex;
    background-image: url("GTA-RP-images/background-for-plugin-block5.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    min-width: 100vw;
    max-width: 100vw;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 15vh;
    padding-bottom: 70vh;
}
.plugin_block5__1 {
    display: grid;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) -18.2%, rgba(255, 255, 255, 0) 96.4%);
    backdrop-filter: blur(5px);
    width: 300px;
    justify-self: center;
}
.plugin_block5__2 {
    display: grid;
    background: #0C0C0C;
    width: 300px;
}

.plugin__block5__now_high1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
    color: #000000;

}
.plugin__block5__now_low1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.plugin__block5__now {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;

    color: #FFFFFF;
    justify-self: center;
}
.plugin__block5__now_low {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}
.plugin_block5__united {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width: 1500px) {
    .rectangles {
        display: flex;
        margin-top: 3vw;
        justify-content: space-between;

    }

    .rectangles__1 {
        padding-left: 0;

    }

    .today-online__in-circle {
        margin-left: 30vw;
    }

    .rectangles {
        display: flex;
        margin-top: 3vw;
        justify-content: space-around;
    }

    .rectangles__1 {
        padding-left: 0;
    }

    .plugin__banner_hat {
        display: flex;
        padding-top: 2vh;
        align-items: center;
        padding-left: 5vw;
    }
}
@media screen and (max-width: 1200px) {
    .rectangles {
        display: grid;
        margin-top: 3vw;
        justify-content: center;
    }

    .rectangles__1_1 {
        justify-self: center;
        padding-top: 0;
    }

    .rectangles__2_1 {
        justify-self: center;
        padding-top: 0;
    }

    .rectangles__3_1 {
        justify-self: center;
        padding-top: 0;
    }

    .rectangles__1 {
        padding-left: 0;
        display: grid;

    }

    .rectangles__2 {
        padding-left: 0;
        display: grid;
    }

    .rectangles__3 {
        padding-left: 0;
        display: grid;
        padding-top: 5vh;
    }

    .registration {
        width: 80vw;
    }

    .registration_forms {
        width: 70vw;
    }
}

@media screen and (max-width: 1500px) {
    .rectangles {
        display: flex;
        margin-top: 3vw;
        justify-content: space-around;

    }

    .rectangles__1 {
        padding-left: 0;

    }

    .today-online__in-circle {
        margin-left: 30vw;
    }

    .rectangles {
        display: flex;
        margin-top: 3vw;
        justify-content: space-around;
    }

    .rectangles__1 {
        padding-left: 0;
    }

    .plugin__banner_hat {
        display: flex;
        padding-top: 2vh;
        align-items: center;
        padding-left: 5vw;
    }
}
@media screen and (max-width: 1000px) {
    body {
        display: grid;
        
    }
    .buy-cash {
        margin-left: 0;
        margin-right: 0;
        justify-self: center;
        width: 90vw;
    }
    .price-list {
        margin-left: 0;
        margin-right: 0;
        justify-self: center;
        width: 90vw;
    }
    .advantages_high {
        display: grid;
        justify-content: center;
    }
    .partnership__partnership {
        padding-left: 2vw;
        padding-right: 2vw;
        text-align: center;
    }
    .advantages__advantages {
        padding-left: 1vw;
        padding-right: 1vw;
        text-align: center;
    }
    .plugin__block3__now {
        padding: 5vh;
    }

}
@media screen and (max-width: 768px) {
    .plugin_block5 {
        flex-direction: column;
    }

}
